<!DOCTYPE html>
<html>
  <head>
    <title>P5_Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>P5_Quiz</h1>
    <p>Welcome to my P5_Quiz</p>
    <a href="/credits">Creditos</a>
    <a href="/quizzes">Quizzes</a>
  </body>
</html>
